@mixin theme-app-table{
	.v-table:not(.v-has-height) .v-table-body{
		overflow-y:hidden;					// fix of vaadin scrollbar bug
	}

	.ui-pager{
		padding-top: round($v-unit-size / 5);

		.v-icon{
			font-size: round($v-font-size * 1.3);
		}
	}

	.l-grouping-button .v-popup-indicator{
		display: none;
	}
}