@mixin theme-app-content-layout{
	.layout-horizontal{
		.v-select-option{
			display: inline-block;
			padding-right: 6px;
		}
	}
  .v-browserframe > iframe { display: block; }

  //  Settings page substittes
	.v-panel-content-l-substitutes{ 
		max-height: 255px;
	}
	.l-settings{
		min-height: 785px;
	}
}